@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


:root{
    --first-color: rgb(243, 177, 33);
}

*{
    margin: 0;
    box-sizing: border-box;
}

.reloj{
    max-width: 700px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border: var(--first-color) 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.manija{
    background-color: none;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.cover{
    height: 60%;
    /* width: 100%; */
    box-shadow: none;
}

.seg{
    max-height: 60%;
    height: 60vw;
    width: 1px;
    z-index: 3;
}

.min{
    max-height: 60%;
    height: 50vw;
    
}

.hours{
    max-height: 60%;
    height: 40vw;
    width: 10px;
}

.seg .cover{
    background-color: red;
    width: 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hours .cover{
    background-color: none;
    border: 2px black solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.min .cover{
    width: 6px;
    border-radius: 10px;
    background-color: black;
}

.full-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.resize{
    background-color: var(--first-color);
    border: solid black 1px;
    padding: 10px;
    width: 150px;
    margin: 20px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    font-family:sans-serif;
}

.resize:hover{
    background-color: rgb(255, 202, 30);
}

.centro{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
    z-index: 10;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.num{
    font-size: 60px;
    font-family: 'Rajdhani';
}

.reloj-num{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 10px;
}
